[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Vinicius Araújo
	email = 161644516+Viniciussinc@users.noreply.github.com
